body
{
    background-image: url("cat.jpg");
    image-resolution: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: palevioletred;
    background-blend-mode: darken;
    
}

html{
    height: 100%;
}

#content
{
   text-align: center;
   padding: 25%;

}

h1
{
    font-size: 80px;
    text-shadow: 0px 18px 8px black, 0px 12px 3px  grey , 1px 15px 20px pink;
                
}
}

hr
{
    width: 500px;
}

h4
{
    font-size: 30px;
}

.button.btn
{
    background-color: brown;
}
















