body{
    background-color: #232323;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

.container{
    width: 600px;
    margin: 20px auto;

}

.square{
    width: 30%;
    padding-bottom: 30%;
    background-color: purple;
    margin: 1.66%;
    float: left;
    border-radius: 15%;
    transition: background 0.6s;
}


h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    margin : 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

#colorDisplay{
    font-size: 200%;
}

#stripe{
    color: black;
    text-align: center;
    height: 30px;
    background-color: white;
}

.selected{
    color: white;
    background-color: steelblue;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;  
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}

#message{
    display: inline-block;
    width: 10%;
}

button:hover{
    color: white;
    background-color: steelblue;
}


