.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(100px,11);
    grid-gap: 15px;
    width: 70%;
    margin: auto;
}

div{
    position: relative;  
    height: 100%;
}

img{
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

img:hover{
   opacity: 1;
}

span{
    position: absolute; 
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    color: #590404;
    font-size: 37px;
    font-weight: bold;
    font-family: 'Dancing Script';
}

.one{
    grid-column: 1;
    grid-row: 1/4;
}

.two{
    grid-column: 1;
    grid-row: 4/9;
}

.three{
     grid-column: 1;
     grid-row: 9/12;
}

.four{
    grid-column: 2;
    grid-row: 1/5;
}

.five{
     grid-column: 2;
     grid-row: 5/10;
}

.six{
    grid-column: 2;
    grid-row: 10/12;
}

.seven{
    grid-column: 3;
    grid-row: 1/4;
}

.eight{
    grid-column: 3;
    grid-row: 4/12;
}

.nine{
    grid-column: 4;
    grid-row: 1/9;
}

.ten{
    grid-column: 4;
    grid-row:  9/12;
}

